body {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

#size_display {
  color: red;
  font-size: 2em;
  position: absolute;
  top: 20px;
  left: calc(50vw - 150px);
}

#container {
  width: 100vw;
  height: 100vh;
}

#container canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}